* {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: #fff;
  color: #333;
  line-height: 1.5;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

:root {
  --header-height: 64px;
  --container-width: 1200px;
  --container-pad-x: 40px;

  --color-gray: #ededed;
  --color-twitter: rgb(29, 155, 240);
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

.container {
  width: calc(var(--container-width) + (var(--container-pad-x) * 2));
  max-width: 100%;
  padding: 0 var(--container-pad-x);
  margin: 0 auto;

  @media (max-width: 480px) {
    padding: 0 5%;
  }
}

.texterino {
  --spacing: 12px;

  margin: 40px auto;

  > *:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  a {
    color: red;
    text-decoration: underline;
  }

  li {
    margin-bottom: calc(var(--spacing) / 2);
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 12px;
  }

  .highlight {
    padding: 0 4px;
    background: #cfcfcf;
    color: red;

    &.code {
      white-space: pre;
    }
  }
}

.animated-border {
  // allows you to override it with higher level variable
  --bw: var(--border-width, 3px);

  z-index: 2;
  overflow: hidden;
  position: absolute;
  inset: 0;
  clip-path: polygon(
    0 0, 100% 0, 100% 100%, 0 100%, 0 0, // first lap
    var(--bw) var(--bw), // init position for second lap
    var(--bw) calc(100% - var(--bw)), // go down
    calc(100% - var(--bw)) calc(100% - var(--bw)), // to the right
    calc(100% - var(--bw)) var(--bw), // up
    var(--bw) var(--bw) // finish lap
  );

  @keyframes rotateBtnBg {
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    padding-bottom: 150%;
    transform: translate(-50%, -50%);
    background: conic-gradient(#ff4800, #dfd902, #20dc68, #0092f4, #da54d8);
    animation: rotateBtnBg 2s linear infinite;
  }

  &.alt-2:before {
    background: conic-gradient(#f56127, #a6ff27, #1de1f5, #2e3bff, #ff225d);
  }
}
