.demospiral {
  // default values, overridden by JS
  --box-size: 50px;
  --anim-time: 0.3s;

  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--box-size);
  height: var(--box-size);
  margin-left: calc(var(--box-size) / -2);
  margin-top: calc(var(--box-size) / -2);

  &__block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 200px;
  
    @keyframes reveal {
      to {
        opacity: 1;
        transform: rotateX(0) rotateY(0);
      }
    }
  
    &-inner {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #cfcfcf;
      border: 1px solid #000;
      font-size: 20px;
      font-weight: bold;
      opacity: 0;
      animation: reveal var(--anim-time) ease-in-out forwards;
    }
  }
}

